<!DOCTYPE html>
<html lang="en">
<head>
  <title>ALL OR NOTHING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="https://i.imgur.com/3Go0b9Z.png" alt="unavailable" style="width:65px;height:50px;">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/users"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="/">Welcome to All or Nothing</a></p>
        <p>
          This is a game closely modeled after the Hasbro board game 'Monopoly'.

          This is the Final Project for CSE312 at University at Buffalo
          The Wily 5
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Who's That Chatting In The Corner?</strong></p>
        Go strike up a conversation and try and make some new friends!
      </div>
      <p><a href="/leaderboard">View Leaderboard</a></p>
      <p><a href="/login">Login</a></p>
      <p><a href="/register">Create Account</a></p>
    </div>
    <div class="col-sm-7">
      <!--Replace this with the score/grades. Kick out avatar unless you want the icon there. Maybe a good spot for the icon of the player if we want to implement it.-->
      <div class="row">
        <div class="col-sm-9">
          <div class="well">
            <h3>All or Nothing is a fast, monopoly-derivative game. The goal is to win the game, but as late as possible in order to rack up as much money in the game.</h3>
          </div>
          <br>
          <table style="width:100%">
            <tr>
              <td style="text-align:right">Rank</td>
              <td style="text-align:right">Username</td>
              <td style="text-align:right">Value</td>
            </tr>
            <tr>
              <td style="text-align:right">#1</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
            </tr>
            <tr>
              <td style="text-align:right">#2</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
            </tr>
            <tr>
              <td style="text-align:right">#3</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
              </tr>
          </table>
          <br>
          <table style="width:100%">
            <tr>
              <td style="text-align:right">Rank</td>
              <td style="text-align:right">Username</td>
              <td style="text-align:right">Value</td>
            </tr>
            <tr>
              <td style="text-align:right">#1</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
            </tr>
            <tr>
              <td style="text-align:right">#2</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
            </tr>
            <tr>
              <td style="text-align:right">#3</td>
              <td style="text-align:right">USERNAME</td>
              <td style="text-align:right">$BALANCE</td>
              </tr>
          </table>
          <br>
          <br>
        </div>
      </div> 
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Developed by Julius Merlino, Cole Grabenstatter, Buu Lam, Ziqian Yang for the Final Project in CSE312 with Dr. Jesse Hartloff</p>
</footer>

</body>
</html>